<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head'); %>
</head>
<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Menu</h1>
        <p>Welcome to our humble application</p>
    </div>
</body>
</html>